@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Inter';
}
.TopSection{
    padding: 20px 40px;
    margin: 0 auto;
    margin-top: 15px;
    background-image: url(images/topsection.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1800px;
    height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/*------------------------------------ navbar ------------------------------------*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
}
nav ul div{
    display: flex;
    gap: 30px; 
    align-items: center;
}

.about-buttons{
    font-size: 25px;
}
.search input{
    padding: 6px 12px;
    border: 2px solid #6C6C6C;
    border-radius: 2px;
    font-size: 14px;
    background-color: #1f1f1f;
    color: white;
}
.lupa{
    width: 40px;
    position: absolute;
    top: 51px;
    left: 260px;
}
.search input::placeholder {
    color: #6C6C6C;
}
.home{
    color: #F0AB15;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/*------------------------------------ navbar ------------------------------------*/


/*------------------------------------ karty ------------------------------------*/
.header-text{
    color: #F0AB15;
    font-size: 60px;
    margin-left: 200px;
}
.card{
    width: 450px;
    height: 300px;
    background-color: rgba(31, 34, 40, 0.7);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card-image{
    width: 100px;
    align-self: flex-end;
    position: absolute;
}
.button-more{
    border: 2px solid #F0AB15;
    padding: 12px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}
.card-div{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 80px;
}
.header-card{
    margin-top: 60px;
    color: white;
    font-size: 26px;
}
.info-card{
    color: grey
}
/*------------------------------------ karty ------------------------------------*/

/*------------------------------------ about ------------------------------------*/
.section-about{
    padding: 20px 40px;
    margin: 0 auto;
    width: 1800px;
    height: 850px;
    display: flex;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid red;
    align-items: center;
    
}
.about-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    margin-left: 200PX;
    line-height: 1.6;
}
.about-text p{
    margin-bottom: 20px;
}
.about-photo{
    margin-top: 40px;
    width: 450px;
    height: 700px;
}
.header-about{
    margin-top: 70px;
    font-size: 40px;
    font-weight: bold;
}
.company-text{
    font-size: 18px;
    margin-bottom: 200px;
}
.company-text2{
    border: 1px solid grey;
}
/*------------------------------------ about ------------------------------------*/