*{
    padding: 0px;
    margin: 0px;
}
nav{
    margin-bottom: 300px;
    text-align: center;
    
}
nav ul li p{
    text-decoration: none;
    font-size: 21px;
    word-spacing: 2px;
    color: black;
    margin-bottom: 20px;
}
nav ul li {
    list-style: none;
    margin: 0 15px; 

}
nav ul {
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.topsection{
    background-image: url(https://th.bing.com/th/id/R.706a714995cc4801e27c505938438ce2?rik=j6Yp7tWWj37SCw&pid=ImgRaw&r=0);
    height: 1000px;
    text-align: center; 

}
.topsection h2 {
    text-align: center;
    font-size: 50px;
    color: white;
}
.topsection p {
    text-align: center;
    font-size: 20px;
    color: white;
}
.topsection a {
    
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    background-color: blue;
    border: 2px solid blue;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
}

.middlesec {
    height: 500px;
    background-color: lightskyblue;
    display: grid;
    grid-template-areas: 
        "header info info2"
        "header info1 info3";
    gap: 10px;  
}

.middlesec h2 {
    grid-area: header;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}
.middlesec img {
    position: absolute;
}

.info {
    grid-area: info;
    padding: 20px;
}

.info1 {
    grid-area: info1;
    padding: 20px;
}

.info2 {
    grid-area: info2;
    padding: 20px;
}

.info3 {
    grid-area: info3;
    padding: 20px;
}
.downsec{
    color: white;
    height: 800px;
    background-color: black;
    display: grid;
    grid-template-areas: 
        "header header  img"
        "info info  img"
        "button button  img";
    gap: 10px;
}
.downsec h2{
    grid-area: header;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
}
.downsec p{
    grid-area: info;
    padding: 20px;
    margin-left: 50px;
}
.downsec a{
    grid-area: button;
    padding: 20px;  
    text-decoration: none;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    width: 300px;
    height: 20px;
    text-align: center;
    margin-left: 50px;
    
}
.downsec img{
    grid-area: img;
    height: 100%;
    width: 100%;
}